* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  width: 100vw;
  height: 100vh;
  font-size: 100%;
}

ul {
  list-style-type: none;
  padding: 0;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
}

.btn:focus {
  box-shadow: none;
}
