.cats {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  &__thumb {
    width: 100%;
    height: 300px;
    @media only screen and (min-width: 568px) {
      width: 33%;
    }
  }
  &__image {
    width: 100%;
  }
}
