.sidebar {
  background-color: white;
  width: 150px;
  height: 100vh;
  border: 2px solid black;
  &-list {
    &__link {
      color: black;
      font-weight: bold;
      font-size: 1.5rem;
      &--active {
        color: gold;
      }
    }
    &__item {
      text-align: center;
      padding: 20px 0px;
    }
  }
}
